* {
  box-sizing: border-box;
  font-family: 'EB Garamond', serif;
  font-family: 'Eczar', serif;
  /* text-align: center; */
}

body {
  margin: 20px;
}

.banner-container {
  width: 100%;
  text-align: center;
}
.tripbook-banner {
  height: 7em;
  margin: auto;
  padding: 10px;
}

header h1 {
  color: black;
  font-size: 35px;
  background-color: rgb(134, 222, 255);
  font-family: 'Concert One';
  position: relative;
  height: flex;
  width: 100%;
  padding: 10px;
  text-align: center;
}

h1,
h2,
h3 {
  color: #0066ff;
}

.input-field-container {
  clear: both;
}

a {
  color: #1565ef;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  clear: both;
  background-color: #f9f9f9;
}

fieldset {
  width: 90%;
  border: 1px solid #0066ff;
  border-radius: 2px;
}

legend {
  font-size: 1.5em;
  color: #0066ff;
}

/* nav bar */
.nav-bar {
  width: 100%;
}
.nav-1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-1 li {
  float: left;
}

.nav-1 a {
  display: block;
  padding: 8px;
}
