* {
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
  font-family: 'Eczar', serif;
  /* text-align: center; */
}

body {
  margin: 20px;
}

h1,
h2,
h3 {
  color: #0066ff;
}

.input-field-container {
  clear: both;
}

a {
  color: #ff6600;
}
input {
  clear: both;
}

fieldset {
  width: 90%;
  border: 1px solid #0066ff;
  border-radius: 2px;
}

legend {
  font-size: 1.5em;
  color: #0066ff;
}

button {
}
