* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /* text-align: center; */
}

body {
  margin: 20px;
}

/* banner */
.banner-container {
  width: 100%;
  text-align: center;
}
.tripbook-banner {
  width: 80%;
  margin: auto;
  padding: 10px;
}

/* headers and titles */
/* header h1 {
  color: black;
  font-size: 35px;
  background-color: rgb(134, 222, 255);
  font-family: 'Concert One';
  position: relative;
  height: flex;
  width: 100%;
  padding: 10px;
  text-align: center;
} */

h1,
h2,
h3 {
  color: #0066ff;
}

.input-title-header {
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 0;
}

.subtitle {
  color: #352e91;
  font-family: 'Indie Flower', cursive;
  font-size: 1.1em;
  margin-top: 10px;
}

.trips-title {
  font-size: 24px;
  width: 100%;
  text-align: left;
  color: black;
  border-bottom: 1px solid #1565ef;
}

.plans-title {
  font-size: 18px;
  margin-bottom: 5px;
}

/* clickable links and buttons */
a {
  color: #1ca0dd;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  padding: 3px, 7px;
  margin: 5px;
  border-radius: 3px;
  background-color: white;
  font: bold;
  font-size: 15px;
}

button:hover {
  color: #0066ff;
}

/* fillable fields */
legend {
  font-size: 1.5em;
  color: #0066ff;
}

fieldset {
  width: 100%;
  border: 1px solid #1ca0dd;
  border-radius: 2px;
  margin-top: 10px;
  padding: 20px;
}

.input-field-container {
  clear: both;
  margin-bottom: 15px;
}

textarea input {
  clear: both;
  background-color: #f4f8ff;
  margin: 5px;
  padding: 5px;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 15px;
  width: 97%;
}

/* nav bar */
.main-nav-bar {
  width: 100;
  text-align: center;
}

.nav-bar {
  width: 100%;
  background-color: #f4f8ff;
}

.nav-1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-1 li {
  float: left;
}

.nav-1 a {
  display: block;
  padding: 8px;
}

@media only screen and (min-width: 700px) {
  /* banner */
  body {
    max-width: 700px;
    margin: 0 auto;
  }
  .banner-container {
    width: 100%;
    text-align: center;
  }
  .tripbook-banner {
    display: inline-block;
    height: 200px;
    width: auto;
    margin: auto;
    padding: 10px;
  }

  .subtitle {
    font-size: 30px;
    margin-top: 15px;
  }

  .plans-container {
    float: left;
    width: 30.33%;
    margin: 1.5%;
    padding: 10px;
    height: 150px;
    clear: none;
  }

  textarea input {
    clear: both;
    background-color: #f4f8ff;
    margin: 5px;
    padding: 5px;
    word-wrap: break-word;
    word-break: break-all;
    width: 50%;
  }
}
